/* --introduction-- */

.introduction {
    background: url(../images/introduction_section-background.webp);
    background-repeat: no-repeat;
    background-size: cover;

    &__header {
        margin: 0 auto 1.8rem;
        max-width: 33.5rem;
        text-align: center;
    }

    &__description {
        color: $textBlack;
        font-size: 1.6rem;
        line-height: 2.5;
        text-align: center;
        margin-bottom: 2rem;
    }

    &__image {
        height: 32.9rem;
        margin: 0 auto;
        position: relative;
        max-width: 24.2rem;
    }

    &__imageBride {
        bottom: 0;
        height: 32.9rem;
        left: 0;
        position: absolute;
        max-width: 24.2rem;
    }
}