/* --plan-- */

.plan {
    background: url(../images/plan_section-background.webp);

    .c-section__inner {
        padding-bottom: 2.4rem;
    }

    &__header,
    &__description {
        margin-bottom: 2rem;
        text-align: center;
    }

    &__decorativeText {
        margin: 0 auto 2.4rem;
        width: 22.7rem;
    }

    &__card {
        background: $white;
        border-radius: 3rem;
        box-shadow: 0px 0px 5.8px 0px rgba(0, 0, 0, 0.22);
        padding: 3rem 2rem;

        &:nth-of-type(2) {
            margin-bottom: 3.2rem;
        }

        &:last-of-type {
            margin-bottom: 1rem;
        }
    }

    &__cardHeader,
    &__cardPrice {
        margin-bottom: 3rem;
    }

    &__cardHeader {
        color: $textBlack;
        letter-spacing: .28rem;
        line-height: 1.4;
        text-align: center;
        margin-bottom: 1.4rem;
    }

    &__cardHeaderEmphasis {
        font-size: 2rem;
        letter-spacing: .06rem;

    }

    &__cardList {
        margin-bottom: 1rem;
    }

    &__cardListItem {
        align-items: center;
        color: $ciBrown;
        display: flex;
        font-size: 1.6rem;
        gap: 0 1rem;
        line-height: 1;
        margin-bottom: 1rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &__cardListItem1Icon {
        height: auto;
        width: 3.5rem;
    }

    &__cardListItem2Icon {
        height: auto;
        width: 8.4rem;
    }

    &__cardListItem5stars {
        height: 1.3rem;
        width: 7.4rem;
    }

    &__noteListItem {
        color: $textGray;
        line-height: 1.6;
    }

    &__cardOtherList {
        display: flex;
        justify-content: space-between;
    }

    &__cardOtherListItem {
        align-items: center;
        background: url(../images/plan_other-plan-background.webp);
        background-position: center;
        background-size: 100% auto;
        display: flex;
        height: 6.1rem;
        justify-content: center;
        width: 6.6rem;
    }

    &__cardOtherListHeader {
        height: auto;
        margin: 0 auto 1rem;
        width: 20.1rem;
    }

    &__cardOtherListItem {
        color: $textBlack;
        font-size: 1rem;
        line-height: 1.2;
        text-align: center;
    }
}