/* --steps-- */

.steps {
    background: url(../images/steps_bg-parts.webp), linear-gradient(180deg, #FEEEEF 0%, #FFFFE7 97.41%);
    background-position: center top, center;
    background-repeat: no-repeat;
    background-size: 100% auto;

    &__header {
        margin-bottom: 4.6rem;
    }
    
    &__item {
        margin-bottom: 7.6rem;

        &:last-of-type {
            margin-bottom: 0;
        }
    }
}