/* --variable-- */

$ciGreen: #4BCCBE;
$ciBrown: #BC8840;
$textBlack: #373737;
$textGray: #6B6A6A;
$bgBrown: #FBF9F8;
$white: #fff;
$beige: #FEFEF6;
$btnBgPink: #FB6066;
$btnBgPinkGrad: linear-gradient(90deg, #FF5D68 0%, #EC7298 100%);
$bgBeige: #FEFEF6;