/* --first view-- */

.firstView {
    padding-top: 4.3rem;
    padding-bottom: 2rem;

    @media screen and (min-width: 1200px) {
        padding-top: 0rem;
    }

    &__buttonWrap {
        margin-top: -3.1rem;
        margin-bottom: 2rem;
        padding-inline: 2rem;

        a {
            border-radius: 5rem;
        }
    }

    &__inner {
        background-color: $bgWhite;
    }

    &__trackRecord {
        margin-bottom: 2rem;
        margin-inline: auto;
        max-width: 363px;
    }

    &__description {
        margin-inline: auto;
        max-width: 375px;
    }
}