/* --header-- */

.header {
    border-bottom: 1px solid #E7E7E7;
    position: fixed;
    z-index: 10000;
    width: 100vw;

    @media screen and (min-width: 1200px) {
        border-bottom: 0;
    }

    &__inner {
        align-items: center;
		display: flex;
        margin: 0 auto;
		justify-content: space-between;
        padding: .8rem 2rem;

        @media screen and (min-width: 1200px) {
            justify-content: center;
            padding: 1rem;
            position: static;
        }
    }

    &__logo {
        padding-inline: .7rem;

        & img {
            height: 2.7rem;
            width: auto;
        }

        @media screen and (min-width: 1200px) {
            left: auto;
            position:static;
            transform: translateX(0%);

            & img {
                height: auto;
                width: 13.5rem;
            }
        }
    }

    &__button {
        font-size: 1.2rem;
        max-width: 7.2rem;

        @media screen and (min-width: 1200px) {
            display: none;
        }
    }
}